=====================================================================
# <font size = 5 color='Black'><u>Employee Wellness Prediction using Logistic Regression<u> 
=====================================================================

## Abstract

Take care of your employees: A drastic thing happened and ABCXYZ123 Technical Solutions have lost one of their important employees. The company is now very concerned about the health of their employees and would want you to find that set of employees who are in need or may be in need of treatment, taking into account multiple attributes that are already stored in the database. So buckle up the wellness of your employees is in your hand.

## Problem Statement

The objective is to predict values “treatment” attribute from the given features of the Test data.

## Data Description

• Timestamp

• Age

• Gender

• Country

• state -> If you live in the United States, which state or territory do you live in?

• self_employed -> Are you self-employed?

• family_history -> Do you have a family history of mental illness?

• work_interfere -> If you have a mental health condition, do you feel that it interferes with your work?

• no_employees -> How many employees does your company or organization have?

• remote_work -> Do you work remotely (outside of an office) at least 50% of the time?

• tech_company -> Is your employer primarily a tech company/organization?

• benefits -> Does your employer provide mental health benefits?

• care_options -> Do you know the options for mental health care your employer provides?

• wellness_program -> Has your employer ever discussed mental health as part of an employee wellness program?

• seek_help -> Does your employer provide resources to learn more about mental health issues and how to seek help?

• anonymity -> Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?

• leave -> How easy is it for you to take medical leave for a mental health condition?

• mental_health_consequence -> Do you think that discussing a mental health issue with your employer would have negative consequences?

• phys_health_consequence -> Do you think that discussing a physical health issue with your employer would have negative consequences?

• coworkers -> Would you be willing to discuss a mental health issue with your coworkers?

• supervisor -> Would you be willing to discuss a mental health issue with your direct supervisor(s)?

• mental_health_interview -> Would you bring up a mental health issue with a potential employer in an interview?

• phys_health_interview -> Would you bring up a physical health issue with a potential employer in an interview?

• mental_vs_physical -> Do you feel that your employer takes mental health as seriously as physical health?

• obs_consequence -> Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?

• comments -> Any additional notes or comments.

• treatment -> Does he or she really needs treatment.

=====================================================================

### Importing Necessary Libraries

In [29]:
#to hide warnings
import warnings
warnings.filterwarnings("ignore")

In [30]:
#for working with arrays
import numpy as np
#for reading data and other manipulations
import pandas as pd
#for visulaization
import matplotlib.pyplot as plt
import seaborn as sns
#for encoding categorical variables
from sklearn.preprocessing import LabelEncoder
#for scaling the data
from sklearn.preprocessing import StandardScaler
#for splitting the data into train set ans test set
from sklearn.model_selection import train_test_split
#for performing Linear regression and other regularization techniques
from sklearn.linear_model import LogisticRegression
#for model evaluation
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
#for performing Stochastic Gradient Descent Classification
from sklearn.linear_model import SGDClassifier
#for feature selection
from sklearn.feature_selection import RFE
#for kfold cross validation
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

### Reading data

In [31]:
#Creating a dataframe for train data
data = pd.read_csv(r"C:/Users/odhonde/OneDrive - DXC Production/Documents/Imeticas Learning/Hackthon_13_05_2023/employee_train.csv",header = 0,delimiter = ',')
#Creating a dataframe for test data
test_data = pd.read_csv(r"C:/Users/odhonde/OneDrive - DXC Production/Documents/Imeticas Learning/Hackthon_13_05_2023/employee_test.csv",header = 0,delimiter = ',')

In [32]:
#to display all the columns and intended rows on the screen
pd.set_option('display.max_columns',None)
#to check the sample data
data.head()

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,8/27/2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,25-Jun,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2,8/27/2014 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,3,8/27/2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,25-Jun,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,4,8/27/2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,5,8/27/2014 11:30,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN

In [33]:
test_data.head()

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,1,8/29/2014 11:32,39,Male,United Kingdom,NaN,Yes,Yes,Sometimes,5-Jan,Yes,Yes,No,Yes,Yes,Yes,Yes,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes,These result may be a tad confusing so a summa...
1,2,8/29/2014 11:32,26,female,United States,WA,No,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes,I should note one of the places my employer fa...
2,3,8/29/2014 11:33,23,Female,United States,IL,No,Yes,Sometimes,26-100,No,No,No,No,No,No,Don't know,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No,NaN
3,4,8/29/2014 11:34,35,Male,Switzerland,NaN,No,Yes,Often,More than 1000,No,Yes,Don't know,Not sure,No,No,Yes,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No,NaN
4,5,8/29/2014 11:36,36,Male,United States,FL,No,No,Never,5-Jan,Yes,Yes,Don't know,Not sure,Don't know,Don't know,Don't know,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN

### Understanding the data

In [34]:
data.shape

(1048, 28)

Data has 1048 observation and 28 columns out of which 1 column has Dependent variable and other 27 are Independent var

In [35]:
data.columns

Index(['S.No', 'Timestamp', 'Age', 'Gender', 'Country', 'state',
       'self_employed', 'family_history', 'treatment', 'work_interfere',
       'no_employees', 'remote_work', 'tech_company', 'benefits',
       'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [36]:
data.dtypes

S.No                          int64
Timestamp                    object
Age                           int64
Gender                       object
Country                      object
state                        object
self_employed                object
family_history               object
treatment                    object
work_interfere               object
no_employees                 object
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
comments                     object
dtype: object

we can see that most of the variables are categorical variables

In [37]:
#to get insights from data by looking at their mean,std etc.,
data.describe(include = 'all')

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
count,1048.000000,1048,1.048000e+03,1048,1048,636,1030,1048,1048,812,1048,1048,1048,1035,1048,1044,1048,1048,1044,1048,1048,1048,1048,1048,1048,1048,1048,132
unique,NaN,679,NaN,45,42,45,2,2,2,4,6,2,2,3,3,3,3,3,5,3,3,3,3,3,3,3,2,128
top,NaN,8/27/2014 15:24,NaN,Male,United States,CA,No,No,No,Sometimes,25-Jun,No,Yes,Yes,No,No,No,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,Don't know,No,* Small family business - YMMV.
freq,NaN,8,NaN,518,644,123,906,643,536,386,245,733,870,400,422,692,534,685,462,424,773,651,439,835,461,471,902,5
mean,524.500000,NaN,9.541988e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,302.675844,NaN,3.089010e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,-1.726000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,262.750000,NaN,2.700000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,524.500000,NaN,3.100000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,786.250000,NaN,3.600000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1048.000000,NaN,1.000000e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048 entries, 0 to 1047
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   S.No                       1048 non-null   int64
 1   Timestamp                  1048 non-null   object
 2   Age                        1048 non-null   int64
 3   Gender                     1048 non-null   object
 4   Country                    1048 non-null   object
 5   state                      636 non-null    object
 6   self_employed              1030 non-null   object
 7   family_history             1048 non-null   object
 8   treatment                  1048 non-null   object
 9   work_interfere             812 non-null    object
 10  no_employees               1048 non-null   object
 11  remote_work                1048 non-null   object
 12  tech_company               1048 non-null   object
 13  benefits                   1035 non-null   object
 14  care_options               1048 non-null   object
 15  wellness_program           1044 non-null   object
 16  seek_help                  1048 non-null   object
 17  anonymity                  1048 non-null   object
 18  leave                      1044 non-null   object
 19  mental_health_consequence  1048 non-null   object
 20  phys_health_consequence    1048 non-null   object
 21  coworkers                  1048 non-null   object
 22  supervisor                 1048 non-null   object
 23  mental_health_interview    1048 non-null   object
 24  phys_health_interview      1048 non-null   object
 25  mental_vs_physical         1048 non-null   object
 26  obs_consequence            1048 non-null   object
 27  comments                   132 non-null    object
dtypes: int64(2), object(26)
memory usage: 229.4+ KB

As per the Non-Null Count, we can see there are a lot of missing values in some columns like state, work_interfere and comments

In [39]:
# to check for the unique values in all the variables to understand the data
#we do not want unique values for timestamp and comments because they are going to be enormous
for i in data.columns:
    if i != 'Timestamp' and i != 'comments':
        print("COLUMN: ", i.upper())
        print("")
        print(data[i].unique())
        print("")

COLUMN:  S.NO

[   1    2    3 ... 1046 1047 1048]

COLUMN:  AGE

[         37          44          32          31          33          35
          39          42          23          29          36          27
          46          41          34          30          40          38
          50          24          18          28          26          22
          19          25          45          21         -29          43
          56          60          54         329          55 99999999999
          48          20          57          58          47          62
          51          65          49       -1726           5          53
          61           8]

COLUMN:  GENDER

['Female' 'M' 'Male' 'male' 'female' 'm' 'Male-ish' 'maile' 'Trans-female'
 'Cis Female' 'F' 'something kinda male?' 'Cis Male' 'Woman' 'f' 'Mal'
 'Male (CIS)' 'queer/she/they' 'non-binary' 'Femake' 'woman' 'Make' 'Nah'
 'All' 'Enby' 'fluid' 'Genderqueer' 'Female ' 'Androgyne' 'Agender'
 'cis-female/femme' 'Guy (-ish) ^_^' 'male leaning androgynous' 'Male '
 'Man' 'Trans woman' 'msle' 'Neuter' 'Female (trans)' 'queer'
 'Female (cis)' 'Mail' 'cis male' 'A little about you' 'Malr']

COLUMN:  COUNTRY

['United States' 'Canada' 'United Kingdom' 'Bulgaria' 'France' 'Portugal'
 'Netherlands' 'Switzerland' 'Poland' 'Australia' 'Germany' 'Russia'
 'Mexico' 'Brazil' 'Slovenia' 'Costa Rica' 'Austria' 'Ireland' 'India'
 'South Africa' 'Italy' 'Sweden' 'Colombia' 'Latvia' 'Romania' 'Belgium'
 'New Zealand' 'Zimbabwe' 'Spain' 'Finland' 'Uruguay' 'Israel'
 'Bosnia and Herzegovina' 'Hungary' 'Singapore' 'Japan' 'Nigeria'
 'Croatia' 'Norway' 'Thailand' 'Denmark' 'Bahamas, The']

COLUMN:  STATE

['IL' 'IN' nan 'TX' 'TN' 'MI' 'OH' 'CA' 'CT' 'MD' 'NY' 'NC' 'MA' 'IA' 'PA'
 'WA' 'WI' 'UT' 'NM' 'OR' 'FL' 'MN' 'MO' 'AZ' 'CO' 'GA' 'DC' 'NE' 'WV'
 'OK' 'KS' 'VA' 'NH' 'KY' 'AL' 'NV' 'NJ' 'SC' 'VT' 'SD' 'ID' 'MS' 'RI'
 'WY' 'LA' 'ME']

COLUMN:  SELF_EMPLOYED

[nan 'Yes' 'No']

COLUMN:  FAMILY_HISTORY

['No' 'Yes']

COLUMN:  TREATMENT

['Yes' 'No']

COLUMN:  WORK_INTERFERE

['Often' 'Rarely' 'Never' 'Sometimes' nan]

COLUMN:  NO_EMPLOYEES

['25-Jun' 'More than 1000' '26-100' '100-500' '5-Jan' '500-1000']

COLUMN:  REMOTE_WORK

['No' 'Yes']

COLUMN:  TECH_COMPANY

['Yes' 'No']

COLUMN:  BENEFITS

['Yes' "Don't know" 'No' nan]

COLUMN:  CARE_OPTIONS

['Not sure' 'No' 'Yes']

COLUMN:  WELLNESS_PROGRAM

['No' "Don't know" 'Yes' nan]

COLUMN:  SEEK_HELP

['Yes' "Don't know" 'No']

COLUMN:  ANONYMITY

['Yes' "Don't know" 'No']

COLUMN:  LEAVE

['Somewhat easy' "Don't know" 'Somewhat difficult' 'Very difficult'
 'Very easy' nan]

COLUMN:  MENTAL_HEALTH_CONSEQUENCE

['No' 'Maybe' 'Yes']

COLUMN:  PHYS_HEALTH_CONSEQUENCE

['No' 'Yes' 'Maybe']

COLUMN:  COWORKERS

['Some of them' 'No' 'Yes']

COLUMN:  SUPERVISOR

['Yes' 'No' 'Some of them']

COLUMN:  MENTAL_HEALTH_INTERVIEW

['No' 'Yes' 'Maybe']

COLUMN:  PHYS_HEALTH_INTERVIEW

['Maybe' 'No' 'Yes']

COLUMN:  MENTAL_VS_PHYSICAL

['Yes' "Don't know" 'No']

COLUMN:  OBS_CONSEQUENCE

['No' 'Yes']

We can see that we need to encode all the categorical variables to discrete/numerical variables

And we also noticed that some values of age like 99999999999,329,-1726,-29 are totally inaccurate and we should handle them

### Data Preprocessing

# <font size = 3 color='Black'><b>1). Feature Selection</b>

We can drop the insignificant independent variableby using domain specific knowledge

In this data, Sno,Timestamp,comments,country,state does not have any significance with respect to predictiong wellness of employees

In [40]:
#we'll drop the data from the copy of dataframe to keep the original data intact
df = data.drop(['S.No', 'Timestamp','Country', 'state','comments'], axis =1)
#will apply same to the test data
df_test = test_data.drop(['S.No', 'Timestamp','Country', 'state','comments'], axis =1)

In [41]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,NaN,No,Yes,Often,25-Jun,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,M,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,NaN,No,No,Rarely,25-Jun,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

In [42]:
df_test.head()

,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,39,Male,Yes,Yes,Sometimes,5-Jan,Yes,Yes,No,Yes,Yes,Yes,Yes,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes
1,26,female,No,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes
2,23,Female,No,Yes,Sometimes,26-100,No,No,No,No,No,No,Don't know,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No
3,35,Male,No,Yes,Often,More than 1000,No,Yes,Don't know,Not sure,No,No,Yes,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No
4,36,Male,No,No,Never,5-Jan,Yes,Yes,Don't know,Not sure,Don't know,Don't know,Don't know,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No

# <font size = 3 color='Black'><b>2). Handling Missing Values</b>

In [43]:
#Check for missing values count in whole dataset
df.isnull().sum()

Age                            0
Gender                         0
self_employed                 18
family_history                 0
treatment                      0
work_interfere               236
no_employees                   0
remote_work                    0
tech_company                   0
benefits                      13
care_options                   0
wellness_program               4
seek_help                      0
anonymity                      0
leave                          4
mental_health_consequence      0
phys_health_consequence        0
coworkers                      0
supervisor                     0
mental_health_interview        0
phys_health_interview          0
mental_vs_physical             0
obs_consequence                0
dtype: int64

We can see there are Nan values in self_emplyed and work_interfere

As these are categorical variables, we'replace Nan with mode

In [44]:
df_test.isnull().sum()

Age                           0
Gender                        0
self_employed                 0
family_history                0
work_interfere               28
no_employees                  0
remote_work                   0
tech_company                  0
benefits                      3
care_options                  0
wellness_program              2
seek_help                     0
anonymity                     0
leave                         5
mental_health_consequence     0
phys_health_consequence       0
coworkers                     0
supervisor                    0
mental_health_interview       0
phys_health_interview         0
mental_vs_physical            0
obs_consequence               0
dtype: int64

There are missing values in work_interfere in test data

In [45]:
#we can use use fillna to fill the missing values with mean of the variable
#inplace is kept as true to work om only the missing values rather than the whole data and thereby reducing kernel load
df['self_employed'].fillna(df['self_employed'].mode()[0], inplace = True)

In [46]:
#df['work_interfere'].fillna(df['work_interfere'].mode()[0], inplace = True)
#as work_interfere is multi class variable so we added a new class for NaN values

In [47]:
df['work_interfere'].fillna("Don't Know", inplace = True)

In [48]:
df.isnull().sum()

Age                           0
Gender                        0
self_employed                 0
family_history                0
treatment                     0
work_interfere                0
no_employees                  0
remote_work                   0
tech_company                  0
benefits                     13
care_options                  0
wellness_program              4
seek_help                     0
anonymity                     0
leave                         4
mental_health_consequence     0
phys_health_consequence       0
coworkers                     0
supervisor                    0
mental_health_interview       0
phys_health_interview         0
mental_vs_physical            0
obs_consequence               0
dtype: int64

In [49]:
df['benefits'].dtype

dtype('O')

In [50]:
df['benefits'].value_counts()

Yes           400
Don't know    329
No            306
Name: benefits, dtype: int64

In [51]:
df['benefits'].fillna(df['benefits'].mode()[0], inplace = True)

In [52]:
df['wellness_program'].value_counts()

No            692
Yes           193
Don't know    159
Name: wellness_program, dtype: int64

In [53]:
df['wellness_program'].fillna(df['wellness_program'].mode()[0], inplace = True)

In [54]:
df['leave'].value_counts()

Don't know            462
Somewhat easy         218
Very easy             176
Somewhat difficult    107
Very difficult         81
Name: leave, dtype: int64

In [55]:
df['leave'].fillna(df['leave'].mode()[0], inplace = True)

In [56]:
df.isnull().sum()

Age                          0
Gender                       0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [57]:
df_test['work_interfere'].fillna("Don't Know", inplace = True)

In [58]:
df_test.isnull().sum()

Age                          0
Gender                       0
self_employed                0
family_history               0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     3
care_options                 0
wellness_program             2
seek_help                    0
anonymity                    0
leave                        5
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [59]:
df_test['benefits'].value_counts()

Yes           77
No            67
Don't know    63
Name: benefits, dtype: int64

In [60]:
df_test['benefits'].fillna(df_test['benefits'].mode()[0], inplace = True)

In [61]:
df_test['wellness_program'].value_counts()

No            150
Yes            35
Don't know     23
Name: wellness_program, dtype: int64

In [62]:
df_test['wellness_program'].fillna(df_test['wellness_program'].mode()[0], inplace = True)

In [63]:
df_test['leave'].value_counts()

Don't know            92
Somewhat easy         48
Very easy             30
Somewhat difficult    19
Very difficult        16
Name: leave, dtype: int64

In [64]:
df_test['leave'].fillna(df_test['leave'].mode()[0], inplace = True)

In [65]:
df_test.isnull().sum()

Age                          0
Gender                       0
self_employed                0
family_history               0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

# <font size = 3 color='Black'><b>Handling Age variable</b>

The possible age range for employees can be considered between 17 to 65 and therefore we must replace/delete the values above or below this range

In [66]:
#calculating mean for values between 17 to 65
mean_age = int(df['Age'][(df['Age']<=65) & (df['Age']>=17)].mean())
mean_age_test = int(df_test['Age'][(df_test['Age']<=65) & (df_test['Age']>=17)].mean())

In [67]:
#Replacing values greater than 65 or lower than 17 with mean
df['Age'] = df['Age'].apply(lambda x: mean_age if (x>65 or x<17) else int(x))
df_test['Age']= df_test['Age'].apply(lambda x: mean_age_test if(x>65 or x<17) else int(x))

# <font size = 3 color='Black'><b>3). Converting Categorical/Discrete Var to Continuous Var</b>

We need to convert all variables except Age to discrete/numerical variables

1.) Gender

We need to manually encode the values to female(0),male(1) and others(2) as there are too many class for single labels

'''['Female' 'M' 'Male' 'male' 'female' 'm' 'Male-ish' 'maile' 'Trans-female'
 'Cis Female' 'F' 'something kinda male?' 'Cis Male' 'Woman' 'f' 'Mal'
 'Male (CIS)' 'queer/she/they' 'non-binary' 'Femake' 'woman' 'Make' 'Nah'
 'All' 'Enby' 'fluid' 'Genderqueer' 'Female ' 'Androgyne' 'Agender'
 'cis-female/femme' 'Guy (-ish) ^_^' 'male leaning androgynous' 'Male '
 'Man' 'Trans woman' 'msle' 'Neuter' 'Female (trans)' 'queer'
 'Female (cis)' 'Mail' 'cis male' 'A little about you' 'Malr']'''

In [68]:
df['Gender'] = df['Gender'].replace(('Female','female','F','Woman','f','Femake','woman','Female ','Cis Female','cis-female/femme','Female (cis)'),0)
df['Gender'] = df['Gender'].replace(('M','Male','male','m','Male-ish','maile','Mal','Make','Male ','Man','msle','Mail','Malr','Cis Male','Male (CIS)','cis male'),1)
df['Gender'] = df['Gender'].replace(('Trans-female','something kinda male?','queer/she/they','non-binary',
                                 'Nah','All','Enby','fluid','Genderqueer','Androgyne','Agender','Guy (-ish) ^_^',
                                  'male leaning androgynous','Trans woman','Neuter','Female (trans)','queer',
                                  'A little about you'),2)

In [69]:
df['Gender'].unique()

array([0, 1, 2], dtype=int64)

In [70]:
# to check for the unique values of gender in test data
df_test['Gender'].unique()

array(['Male', 'female', 'Female', 'M', 'male', 'Male ', 'm', 'p', 'F',
       'Woman', 'femail', 'Cis Man',
       'ostensibly male, unsure what that really means', 'f'],
      dtype=object)

In [71]:
#Applying encoding to test data
df_test['Gender'] = df_test['Gender'].replace(('Female','female','F','Woman','f','femail'),0)
df_test['Gender'] = df_test['Gender'].replace(('M','Male','male','m','Male ','Cis Man'),1)
df_test['Gender'] = df_test['Gender'].replace(('p','ostensibly male, unsure what that really means'),2)

In [72]:
df_test['Gender'].unique()

array([1, 0, 2], dtype=int64)

2.) no_employees

Unique values: ['6-25' 'More than 1000' '26-100' '100-500' '1-5' '500-1000']

In [73]:
df['no_employees'].unique()

array(['25-Jun', 'More than 1000', '26-100', '100-500', '5-Jan',
       '500-1000'], dtype=object)

In [75]:
df['no_employees'] = df['no_employees'].replace('25-Jun', '6-25')

In [76]:
df['no_employees'] = df['no_employees'].replace('5-Jan', '1-5')

In [77]:
df['no_employees'].unique()

array(['6-25', 'More than 1000', '26-100', '100-500', '1-5', '500-1000'],
      dtype=object)

In [78]:
df['no_employees'] = df['no_employees'].map({'1-5':0,'6-25':1,'26-100':2,'100-500':3,'500-1000':4,'More than 1000':5})

In [79]:
df_test['no_employees'].unique()

array(['5-Jan', 'More than 1000', '26-100', '500-1000', '25-Jun',
       '100-500'], dtype=object)

In [80]:
df_test['no_employees'] = df_test['no_employees'].replace('25-Jun', '6-25')

In [81]:
df_test['no_employees'] = df_test['no_employees'].replace('5-Jan', '1-5')

In [82]:
df_test['no_employees'].unique()

array(['1-5', 'More than 1000', '26-100', '500-1000', '6-25', '100-500'],
      dtype=object)

In [83]:
df_test['no_employees'] = df_test['no_employees'].map({'1-5':0,'6-25':1,'26-100':2,'100-500':3,'500-1000':4,'More than 1000':5})

In [84]:
df_test.dtypes

Age                           int64
Gender                        int64
self_employed                object
family_history               object
work_interfere               object
no_employees                  int64
remote_work                  object
tech_company                 object
benefits                     object
care_options                 object
wellness_program             object
seek_help                    object
anonymity                    object
leave                        object
mental_health_consequence    object
phys_health_consequence      object
coworkers                    object
supervisor                   object
mental_health_interview      object
phys_health_interview        object
mental_vs_physical           object
obs_consequence              object
dtype: object

3.)All other categorical values

In [85]:
df['leave'].unique()

array(['Somewhat easy', "Don't know", 'Somewhat difficult',
       'Very difficult', 'Very easy'], dtype=object)

In [86]:
#Reducing redundant class to a single class for 'leaves' variable
df['leave'] = df['leave'].replace(['Somewhat easy', 'Very easy'],'easy')
df_test['leave'] = df_test['leave'].replace(['Somewhat easy', 'Very easy'],'easy')

In [87]:
encode = LabelEncoder()
for i in df.columns:
    if df[i].dtype == 'object':
            df[i] = encode.fit_transform(df[i])

In [88]:
#To check if all the data types have been converted to int from object
df.dtypes

Age                          int64
Gender                       int64
self_employed                int32
family_history               int32
treatment                    int32
work_interfere               int32
no_employees                 int64
remote_work                  int32
tech_company                 int32
benefits                     int32
care_options                 int32
wellness_program             int32
seek_help                    int32
anonymity                    int32
leave                        int32
mental_health_consequence    int32
phys_health_consequence      int32
coworkers                    int32
supervisor                   int32
mental_health_interview      int32
phys_health_interview        int32
mental_vs_physical           int32
obs_consequence              int32
dtype: object

In [89]:
df.head()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,0,0,0,1,2,1,0,1,2,1,1,2,2,3,1,1,1,2,1,0,2,0
1,44,1,0,0,0,3,5,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0
2,32,1,0,0,0,3,1,0,1,1,0,1,1,0,1,1,1,2,2,2,2,1,0
3,31,1,0,1,1,2,2,0,1,1,2,1,1,1,1,2,2,1,0,0,0,1,1
4,31,1,0,0,0,1,3,1,1,2,0,0,0,0,0,1,1,1,2,2,2,0,0

In [90]:
df.tail()

,Age,Gender,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
1043,26,1,0,0,1,4,1,0,1,2,2,1,1,2,0,0,1,1,0,1,0,0,0
1044,29,0,0,0,1,2,5,0,0,2,2,1,1,0,0,0,1,1,0,1,2,1,1
1045,26,0,0,1,1,4,3,0,1,2,1,1,1,2,0,0,1,1,0,1,0,0,0
1046,33,1,0,1,1,4,1,0,1,1,1,1,1,0,3,1,1,1,2,1,1,0,0
1047,28,1,0,1,0,4,3,0,1,1,0,1,1,0,3,1,1,1,1,1,1,0,1

In [91]:
#encoding variables for data from test set
for i in df_test.columns:
    if df_test[i].dtype == 'object':
            df_test[i] = encode.fit_transform(df_test[i])

In [92]:
#To check if all the data types have been converted to int from object
df_test.dtypes

Age                          int64
Gender                       int64
self_employed                int32
family_history               int32
work_interfere               int32
no_employees                 int64
remote_work                  int32
tech_company                 int32
benefits                     int32
care_options                 int32
wellness_program             int32
seek_help                    int32
anonymity                    int32
leave                        int32
mental_health_consequence    int32
phys_health_consequence      int32
coworkers                    int32
supervisor                   int32
mental_health_interview      int32
phys_health_interview        int32
mental_vs_physical           int32
obs_consequence              int32
dtype: object

In [93]:
df_test.head()

,Age,Gender,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,39,1,1,1,4,0,1,1,1,2,2,2,2,1,1,1,2,2,1,0,2,1
1,26,0,0,1,4,5,0,1,2,2,1,1,0,0,1,1,1,2,1,0,1,1
2,23,0,0,1,4,2,0,0,1,0,1,1,0,1,2,1,0,1,1,0,1,0
3,35,1,0,1,2,5,0,1,0,1,1,1,2,3,1,1,1,1,1,0,1,0
4,36,1,0,0,1,0,1,1,0,1,0,0,0,3,1,1,1,1,1,1,0,0

### Creating x and y

In [94]:
# Target/Dependent variable is Treatment
x = df.loc[:, df.columns != 'treatment']
y = df.loc[:,'treatment']

In [95]:
print(x.shape)
print(y.shape)

(1048, 22)
(1048,)

### Scaling the data

In [96]:
scaler = StandardScaler()
#X = scaler.fit_transform(X)
#sepatate function for fit and transform
scaler.fit(x)
x = scaler.transform(x)

In [97]:
scaler.fit(df_test)
df_test = scaler.transform(df_test)

### Splitting the data into train and test set

Splitting train set to train and validation set as we already have our test set

In [98]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state = 10,stratify = y)

In [99]:
print("x_train:",x_train.shape)
print("x_test:",x_test.shape)
print("y_train:",y_train.shape)
print("y_test:",y_test.shape)

x_train: (733, 22)
x_test: (315, 22)
y_train: (733,)
y_test: (315,)

### Building Logistic Regression Model

In [100]:
#training the model
lr = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

In [101]:
#Looking for coefficients value of output equation as logistic regression outputs a equation too
Coefficients = list(zip(df.columns[:-1],lr.coef_.ravel())) #ravel() is used to flatten the array
print(Coefficients)
print(lr.intercept_)

[('Age', 0.18691004938388583), ('Gender', -0.22613078484951563), ('self_employed', -0.09299077687778105), ('family_history', 0.5666618556491801), ('treatment', 1.44995533851218), ('work_interfere', -0.1438376979965696), ('no_employees', -0.004869578411435209), ('remote_work', -0.1355992613036288), ('tech_company', 0.2571979610273078), ('benefits', 0.3173676851814538), ('care_options', -0.03904837938354557), ('wellness_program', -0.17608887706822662), ('seek_help', 0.31007714147465604), ('anonymity', -0.1144205454463344), ('leave', -0.021955331408659785), ('mental_health_consequence', 0.08248361613282175), ('phys_health_consequence', 0.24655653329045507), ('coworkers', -0.1516408777666067), ('supervisor', 0.06556151156797575), ('mental_health_interview', 0.23514030907842515), ('phys_health_interview', 0.08866204635728568), ('mental_vs_physical', 0.20286508907732181)]
[-0.14281957]

In [102]:
#outputting Probability matrix
prob = lr.predict_proba(x_test)
prob

array([[0.87282332, 0.12717668],
       [0.62618737, 0.37381263],
       [0.27380911, 0.72619089],
       [0.88789017, 0.11210983],
       [0.24226045, 0.75773955],
       [0.52363937, 0.47636063],
       [0.59353627, 0.40646373],
       [0.91453153, 0.08546847],
       [0.29152476, 0.70847524],
       [0.98600704, 0.01399296],
       [0.67205002, 0.32794998],
       [0.46011936, 0.53988064],
       [0.03351478, 0.96648522],
       [0.07060646, 0.92939354],
       [0.15139134, 0.84860866],
       [0.19851706, 0.80148294],
       [0.07828237, 0.92171763],
       [0.81882519, 0.18117481],
       [0.95251728, 0.04748272],
       [0.92393458, 0.07606542],
       [0.85602178, 0.14397822],
       [0.94362628, 0.05637372],
       [0.71631142, 0.28368858],
       [0.1217623 , 0.8782377 ],
       [0.30325848, 0.69674152],
       [0.01162083, 0.98837917],
       [0.10127109, 0.89872891],
       [0.61253417, 0.38746583],
       [0.62622571, 0.37377429],
       [0.0484211 , 0.9515789 ],
       [0.22205679, 0.77794321],
       [0.22972104, 0.77027896],
       [0.49640229, 0.50359771],
       [0.22088073, 0.77911927],
       [0.72396741, 0.27603259],
       [0.97060712, 0.02939288],
       [0.33454985, 0.66545015],
       [0.93098347, 0.06901653],
       [0.96026169, 0.03973831],
       [0.86500573, 0.13499427],
       [0.2794386 , 0.7205614 ],
       [0.79484221, 0.20515779],
       [0.44326223, 0.55673777],
       [0.27931286, 0.72068714],
       [0.94327457, 0.05672543],
       [0.97560102, 0.02439898],
       [0.84365266, 0.15634734],
       [0.73337667, 0.26662333],
       [0.01115814, 0.98884186],
       [0.89401563, 0.10598437],
       [0.03870498, 0.96129502],
       [0.93891372, 0.06108628],
       [0.79728232, 0.20271768],
       [0.79033191, 0.20966809],
       [0.91947144, 0.08052856],
       [0.11709247, 0.88290753],
       [0.18232751, 0.81767249],
       [0.07711407, 0.92288593],
       [0.34539194, 0.65460806],
       [0.88308038, 0.11691962],
       [0.92888413, 0.07111587],
       [0.87935292, 0.12064708],
       [0.84270461, 0.15729539],
       [0.37553266, 0.62446734],
       [0.94436946, 0.05563054],
       [0.88197716, 0.11802284],
       [0.94232207, 0.05767793],
       [0.33878999, 0.66121001],
       [0.36116583, 0.63883417],
       [0.85167592, 0.14832408],
       [0.19342388, 0.80657612],
       [0.14137454, 0.85862546],
       [0.23501577, 0.76498423],
       [0.98122989, 0.01877011],
       [0.03194869, 0.96805131],
       [0.92832431, 0.07167569],
       [0.05172437, 0.94827563],
       [0.02653317, 0.97346683],
       [0.0509661 , 0.9490339 ],
       [0.11870156, 0.88129844],
       [0.15861103, 0.84138897],
       [0.91380176, 0.08619824],
       [0.86162365, 0.13837635],
       [0.13225538, 0.86774462],
       [0.32958962, 0.67041038],
       [0.88021604, 0.11978396],
       [0.97850155, 0.02149845],
       [0.81294768, 0.18705232],
       [0.81191307, 0.18808693],
       [0.4882601 , 0.5117399 ],
       [0.93376962, 0.06623038],
       [0.46806626, 0.53193374],
       [0.89816384, 0.10183616],
       [0.94481955, 0.05518045],
       [0.64893417, 0.35106583],
       [0.93149398, 0.06850602],
       [0.94750522, 0.05249478],
       [0.28933402, 0.71066598],
       [0.06587813, 0.93412187],
       [0.18423207, 0.81576793],
       [0.45123869, 0.54876131],
       [0.3457211 , 0.6542789 ],
       [0.10170791, 0.89829209],
       [0.12426721, 0.87573279],
       [0.21666248, 0.78333752],
       [0.96096408, 0.03903592],
       [0.91775726, 0.08224274],
       [0.31583064, 0.68416936],
       [0.9091333 , 0.0908667 ],
       [0.11494783, 0.88505217],
       [0.29739179, 0.70260821],
       [0.02720247, 0.97279753],
       [0.66517981, 0.33482019],
       [0.82409119, 0.17590881],
       [0.13633841, 0.86366159],
       [0.82525915, 0.17474085],
       [0.18606615, 0.81393385],
       [0.95669214, 0.04330786],
       [0.21060969, 0.78939031],
       [0.71804932, 0.28195068],
       [0.93887355, 0.06112645],
       [0.40381204, 0.59618796],
       [0.07595162, 0.92404838],
       [0.76384635, 0.23615365],
       [0.1677951 , 0.8322049 ],
       [0.79185933, 0.20814067],
       [0.92113614, 0.07886386],
       [0.84598475, 0.15401525],
       [0.97730934, 0.02269066],
       [0.09214861, 0.90785139],
       [0.03425059, 0.96574941],
       [0.1591951 , 0.8408049 ],
       [0.91422414, 0.08577586],
       [0.12733619, 0.87266381],
       [0.83363627, 0.16636373],
       [0.67418146, 0.32581854],
       [0.91471771, 0.08528229],
       [0.74150131, 0.25849869],
       [0.28107672, 0.71892328],
       [0.80152459, 0.19847541],
       [0.74255721, 0.25744279],
       [0.01282448, 0.98717552],
       [0.59489265, 0.40510735],
       [0.96442428, 0.03557572],
       [0.89699287, 0.10300713],
       [0.93014943, 0.06985057],
       [0.96332966, 0.03667034],
       [0.8851216 , 0.1148784 ],
       [0.75218085, 0.24781915],
       [0.11130405, 0.88869595],
       [0.06696434, 0.93303566],
       [0.90083155, 0.09916845],
       [0.10088537, 0.89911463],
       [0.01929595, 0.98070405],
       [0.23497997, 0.76502003],
       [0.86353289, 0.13646711],
       [0.9610339 , 0.0389661 ],
       [0.01417733, 0.98582267],
       [0.95952069, 0.04047931],
       [0.02254522, 0.97745478],
       [0.11953893, 0.88046107],
       [0.52464168, 0.47535832],
       [0.80614117, 0.19385883],
       [0.84654636, 0.15345364],
       [0.95107943, 0.04892057],
       [0.96575396, 0.03424604],
       [0.12975613, 0.87024387],
       [0.2668026 , 0.7331974 ],
       [0.55526989, 0.44473011],
       [0.02548957, 0.97451043],
       [0.84270644, 0.15729356],
       [0.30240165, 0.69759835],
       [0.34225129, 0.65774871],
       [0.07458618, 0.92541382],
       [0.15373958, 0.84626042],
       [0.39523416, 0.60476584],
       [0.18420121, 0.81579879],
       [0.20296121, 0.79703879],
       [0.62060896, 0.37939104],
       [0.24262689, 0.75737311],
       [0.79295915, 0.20704085],
       [0.07415281, 0.92584719],
       [0.52207253, 0.47792747],
       [0.91446143, 0.08553857],
       [0.31497146, 0.68502854],
       [0.08582475, 0.91417525],
       [0.56423931, 0.43576069],
       [0.94147127, 0.05852873],
       [0.94929555, 0.05070445],
       [0.2288112 , 0.7711888 ],
       [0.83398952, 0.16601048],
       [0.88739836, 0.11260164],
       [0.8864519 , 0.1135481 ],
       [0.0326973 , 0.9673027 ],
       [0.8678178 , 0.1321822 ],
       [0.7343011 , 0.2656989 ],
       [0.06095743, 0.93904257],
       [0.41114933, 0.58885067],
       [0.45075038, 0.54924962],
       [0.96387571, 0.03612429],
       [0.95564874, 0.04435126],
       [0.07668643, 0.92331357],
       [0.12280481, 0.87719519],
       [0.55115779, 0.44884221],
       [0.04847269, 0.95152731],
       [0.87744324, 0.12255676],
       [0.4356858 , 0.5643142 ],
       [0.12704945, 0.87295055],
       [0.20509795, 0.79490205],
       [0.963138  , 0.036862  ],
       [0.96135699, 0.03864301],
       [0.39195655, 0.60804345],
       [0.27715253, 0.72284747],
       [0.12171167, 0.87828833],
       [0.98604058, 0.01395942],
       [0.77207841, 0.22792159],
       [0.0696355 , 0.9303645 ],
       [0.57191705, 0.42808295],
       [0.07653972, 0.92346028],
       [0.28965185, 0.71034815],
       [0.88919761, 0.11080239],
       [0.89852566, 0.10147434],
       [0.36602245, 0.63397755],
       [0.08067785, 0.91932215],
       [0.37247697, 0.62752303],
       [0.06242371, 0.93757629],
       [0.93491673, 0.06508327],
       [0.11457954, 0.88542046],
       [0.52045726, 0.47954274],
       [0.97549182, 0.02450818],
       [0.23128361, 0.76871639],
       [0.85848518, 0.14151482],
       [0.49685845, 0.50314155],
       [0.88641767, 0.11358233],
       [0.41106724, 0.58893276],
       [0.37105604, 0.62894396],
       [0.95628093, 0.04371907],
       [0.38187139, 0.61812861],
       [0.89550168, 0.10449832],
       [0.06441364, 0.93558636],
       [0.9630971 , 0.0369029 ],
       [0.029479  , 0.970521  ],
       [0.86050529, 0.13949471],
       [0.11987951, 0.88012049],
       [0.95932229, 0.04067771],
       [0.10094427, 0.89905573],
       [0.01652281, 0.98347719],
       [0.04699695, 0.95300305],
       [0.81524994, 0.18475006],
       [0.58739393, 0.41260607],
       [0.4459078 , 0.5540922 ],
       [0.89164015, 0.10835985],
       [0.3275158 , 0.6724842 ],
       [0.91836241, 0.08163759],
       [0.92373591, 0.07626409],
       [0.94237542, 0.05762458],
       [0.48281477, 0.51718523],
       [0.90490957, 0.09509043],
       [0.28649408, 0.71350592],
       [0.97754642, 0.02245358],
       [0.91789697, 0.08210303],
       [0.51701728, 0.48298272],
       [0.30925572, 0.69074428],
       [0.14883371, 0.85116629],
       [0.07495221, 0.92504779],
       [0.2367944 , 0.7632056 ],
       [0.51288478, 0.48711522],
       [0.95843264, 0.04156736],
       [0.42891757, 0.57108243],
       [0.02461555, 0.97538445],
       [0.16866047, 0.83133953],
       [0.34143375, 0.65856625],
       [0.98128058, 0.01871942],
       [0.37482159, 0.62517841],
       [0.02909571, 0.97090429],
       [0.60087188, 0.39912812],
       [0.96827421, 0.03172579],
       [0.96591714, 0.03408286],
       [0.96986671, 0.03013329],
       [0.36338626, 0.63661374],
       [0.8730979 , 0.1269021 ],
       [0.77030372, 0.22969628],
       [0.12189462, 0.87810538],
       [0.31757775, 0.68242225],
       [0.1895169 , 0.8104831 ],
       [0.18615318, 0.81384682],
       [0.90878342, 0.09121658],
       [0.0590315 , 0.9409685 ],
       [0.22057521, 0.77942479],
       [0.88726192, 0.11273808],
       [0.21327617, 0.78672383],
       [0.65820541, 0.34179459],
       [0.15826491, 0.84173509],
       [0.13038239, 0.86961761],
       [0.98238274, 0.01761726],
       [0.87591236, 0.12408764],
       [0.33902274, 0.66097726],
       [0.15898104, 0.84101896],
       [0.86573742, 0.13426258],
       [0.15124182, 0.84875818],
       [0.06540911, 0.93459089],
       [0.51912978, 0.48087022],
       [0.89366105, 0.10633895],
       [0.22143141, 0.77856859],
       [0.12423821, 0.87576179],
       [0.20936701, 0.79063299],
       [0.39620491, 0.60379509],
       [0.61859532, 0.38140468],
       [0.04367445, 0.95632555],
       [0.82230325, 0.17769675],
       [0.3644304 , 0.6355696 ],
       [0.93998617, 0.06001383],
       [0.80764929, 0.19235071],
       [0.06815209, 0.93184791],
       [0.95169632, 0.04830368]])

In [103]:
#Predicting values
y_pred = lr.predict(x_test)

### Evaluation of model

In [104]:
cfm = confusion_matrix(y_test,y_pred)
print("Confusion Matrix: ")
print(cfm)

acc = accuracy_score(y_test,y_pred)
print("accuracy score",acc)

print('classification report : ')
print(classification_report(y_test,y_pred))

Confusion Matrix:
[[134  27]
 [ 23 131]]
accuracy score 0.8412698412698413
classification report :
              precision    recall  f1-score   support

           0       0.85      0.83      0.84       161
           1       0.83      0.85      0.84       154

    accuracy                           0.84       315
   macro avg       0.84      0.84      0.84       315
weighted avg       0.84      0.84      0.84       315

### Fine Tuning the model

#### 1.) Adjusting Threshold

Using Ridge Regression:

In [105]:
#to loop through various values of threshold and check which one gives least error(wrong predictions)
for i in np.arange(0.4,0.61,0.01):
    pred = np.where(prob[:,1]>i,1,0)
    cfm = confusion_matrix(y_test,pred)
    err = cfm[1,0]+cfm[0,1]
    print("Error for threshold,",i," : ",err, "and Type II error :",cfm[1,0],"and Type I error :",cfm[0,1])

Error for threshold, 0.4  :  46 and Type II error : 14 and Type I error : 32
Error for threshold, 0.41000000000000003  :  46 and Type II error : 15 and Type I error : 31
Error for threshold, 0.42000000000000004  :  47 and Type II error : 16 and Type I error : 31
Error for threshold, 0.43000000000000005  :  46 and Type II error : 16 and Type I error : 30
Error for threshold, 0.44000000000000006  :  45 and Type II error : 16 and Type I error : 29
Error for threshold, 0.45000000000000007  :  45 and Type II error : 17 and Type I error : 28
Error for threshold, 0.4600000000000001  :  45 and Type II error : 17 and Type I error : 28
Error for threshold, 0.4700000000000001  :  45 and Type II error : 17 and Type I error : 28
Error for threshold, 0.4800000000000001  :  47 and Type II error : 20 and Type I error : 27
Error for threshold, 0.4900000000000001  :  50 and Type II error : 23 and Type I error : 27
Error for threshold, 0.5000000000000001  :  50 and Type II error : 23 and Type I error : 27
Error for threshold, 0.5100000000000001  :  52 and Type II error : 25 and Type I error : 27
Error for threshold, 0.5200000000000001  :  52 and Type II error : 26 and Type I error : 26
Error for threshold, 0.5300000000000001  :  52 and Type II error : 26 and Type I error : 26
Error for threshold, 0.5400000000000001  :  52 and Type II error : 27 and Type I error : 25
Error for threshold, 0.5500000000000002  :  52 and Type II error : 28 and Type I error : 24
Error for threshold, 0.5600000000000002  :  54 and Type II error : 30 and Type I error : 24
Error for threshold, 0.5700000000000002  :  53 and Type II error : 30 and Type I error : 23
Error for threshold, 0.5800000000000002  :  54 and Type II error : 31 and Type I error : 23
Error for threshold, 0.5900000000000002  :  56 and Type II error : 33 and Type I error : 23
Error for threshold, 0.6000000000000002  :  57 and Type II error : 34 and Type I error : 23

We can see we are getting lesser Type 2 error at threshold 0.44 so we'll try prdeicting the value using that threshold and generate evaluation metrics

In [106]:
#prob is the probability matrix that we genearted above
y_pred_t = [1 if i>0.44 else 0 for i in prob[:,1]]

In [107]:
cfm = confusion_matrix(y_test,y_pred_t)
print("Confusion Matrix: ")
print(cfm)

acc = accuracy_score(y_test,y_pred_t)
print("accuracy score",acc)

print('classification report : ')
print(classification_report(y_test,y_pred_t))

Confusion Matrix:
[[132  29]
 [ 16 138]]
accuracy score 0.8571428571428571
classification report :
              precision    recall  f1-score   support

           0       0.89      0.82      0.85       161
           1       0.83      0.90      0.86       154

    accuracy                           0.86       315
   macro avg       0.86      0.86      0.86       315
weighted avg       0.86      0.86      0.86       315

We can conclude following from above evaluation:

    Recall for class 0 has been decresed by 1 unit but f1-score is  increased by 1 unit
    
    Recall for class 1 has been increased by 6 units and f1-score is  increased by 2 units
    
    Accuracy score has improved a little bit from 0.838 to 0.857

Therefore, we'll use the logistic regression model having threshold as 0.44

In [108]:
log_adj = LogisticRegression()
lr.fit(x_train,y_train)

LogisticRegression()

### SGD Classification

In [109]:
sgd = SGDClassifier(loss = 'log', random_state = 10, 
                    learning_rate ='constant', eta0 = 0.00001,
                   max_iter= 1000,shuffle = True,
                   early_stopping = True,n_iter_no_change = 5)
sgd.fit(x_train,y_train)
y_sgd = sgd.predict(x_test)

In [110]:
cfm = confusion_matrix(y_test,y_sgd)
print("Confusion Matrix: ")
print(cfm)

acc = accuracy_score(y_test,y_sgd)
print("accuracy score",acc)

print('classification report : ')
print(classification_report(y_test,y_sgd))

Confusion Matrix:
[[130  31]
 [ 32 122]]
accuracy score 0.8
classification report :
              precision    recall  f1-score   support

           0       0.80      0.81      0.80       161
           1       0.80      0.79      0.79       154

    accuracy                           0.80       315
   macro avg       0.80      0.80      0.80       315
weighted avg       0.80      0.80      0.80       315

As we can see, accuracy score and f1-score for both the classes are lower than sklearn model so we'll not use this

# <font size = 5 color='Black'><b>Therefore, we can conclude that the best model is the one built using Logistic  Regression<b>

Predicting values for actual test data

In [113]:
#lr = LogisticRegression()
#lr.fit(x_train,y_train)
prob_test = lr.predict_proba(df_test)
prob_test

array([[0.0443497 , 0.9556503 ],
       [0.06181987, 0.93818013],
       [0.21135559, 0.78864441],
       [0.61472557, 0.38527443],
       [0.91092196, 0.08907804],
       [0.61114726, 0.38885274],
       [0.03880332, 0.96119668],
       [0.96947153, 0.03052847],
       [0.96782449, 0.03217551],
       [0.48805494, 0.51194506],
       [0.19981796, 0.80018204],
       [0.85914125, 0.14085875],
       [0.35227147, 0.64772853],
       [0.92234828, 0.07765172],
       [0.92546411, 0.07453589],
       [0.22091041, 0.77908959],
       [0.46188839, 0.53811161],
       [0.9354786 , 0.0645214 ],
       [0.89279781, 0.10720219],
       [0.74189977, 0.25810023],
       [0.98300291, 0.01699709],
       [0.33201521, 0.66798479],
       [0.36866554, 0.63133446],
       [0.31680482, 0.68319518],
       [0.96517363, 0.03482637],
       [0.28092569, 0.71907431],
       [0.04643223, 0.95356777],
       [0.11692543, 0.88307457],
       [0.17727679, 0.82272321],
       [0.06625017, 0.93374983],
       [0.43379768, 0.56620232],
       [0.35773013, 0.64226987],
       [0.51492137, 0.48507863],
       [0.55857068, 0.44142932],
       [0.45714757, 0.54285243],
       [0.06355058, 0.93644942],
       [0.96867892, 0.03132108],
       [0.42991851, 0.57008149],
       [0.70868607, 0.29131393],
       [0.15890785, 0.84109215],
       [0.03299795, 0.96700205],
       [0.85964967, 0.14035033],
       [0.54236639, 0.45763361],
       [0.37397282, 0.62602718],
       [0.15065826, 0.84934174],
       [0.38725876, 0.61274124],
       [0.13190087, 0.86809913],
       [0.42491835, 0.57508165],
       [0.08378446, 0.91621554],
       [0.9652957 , 0.0347043 ],
       [0.88492029, 0.11507971],
       [0.96405902, 0.03594098],
       [0.24892497, 0.75107503],
       [0.27254761, 0.72745239],
       [0.10591756, 0.89408244],
       [0.91082202, 0.08917798],
       [0.68734699, 0.31265301],
       [0.47495585, 0.52504415],
       [0.28271853, 0.71728147],
       [0.64394875, 0.35605125],
       [0.90223259, 0.09776741],
       [0.0571308 , 0.9428692 ],
       [0.57339784, 0.42660216],
       [0.94120121, 0.05879879],
       [0.18039811, 0.81960189],
       [0.95400008, 0.04599992],
       [0.14104156, 0.85895844],
       [0.91982988, 0.08017012],
       [0.16235524, 0.83764476],
       [0.17844192, 0.82155808],
       [0.86435472, 0.13564528],
       [0.32370178, 0.67629822],
       [0.36985868, 0.63014132],
       [0.91426298, 0.08573702],
       [0.46030753, 0.53969247],
       [0.92150415, 0.07849585],
       [0.46093081, 0.53906919],
       [0.41017637, 0.58982363],
       [0.18914596, 0.81085404],
       [0.1411345 , 0.8588655 ],
       [0.9391845 , 0.0608155 ],
       [0.01845118, 0.98154882],
       [0.96627201, 0.03372799],
       [0.08968724, 0.91031276],
       [0.51157095, 0.48842905],
       [0.51157095, 0.48842905],
       [0.37835873, 0.62164127],
       [0.20298917, 0.79701083],
       [0.94983311, 0.05016689],
       [0.29348531, 0.70651469],
       [0.45148947, 0.54851053],
       [0.48853417, 0.51146583],
       [0.53939735, 0.46060265],
       [0.47070254, 0.52929746],
       [0.57592537, 0.42407463],
       [0.75712546, 0.24287454],
       [0.21749812, 0.78250188],
       [0.10302096, 0.89697904],
       [0.17790147, 0.82209853],
       [0.49356071, 0.50643929],
       [0.59716261, 0.40283739],
       [0.15183902, 0.84816098],
       [0.95810731, 0.04189269],
       [0.3108357 , 0.6891643 ],
       [0.11651577, 0.88348423],
       [0.64968176, 0.35031824],
       [0.9612421 , 0.0387579 ],
       [0.92222658, 0.07777342],
       [0.81043653, 0.18956347],
       [0.27464514, 0.72535486],
       [0.93374215, 0.06625785],
       [0.29486744, 0.70513256],
       [0.89840851, 0.10159149],
       [0.97712747, 0.02287253],
       [0.36286835, 0.63713165],
       [0.27979108, 0.72020892],
       [0.13105689, 0.86894311],
       [0.09585076, 0.90414924],
       [0.9255702 , 0.0744298 ],
       [0.8764074 , 0.1235926 ],
       [0.1031006 , 0.8968994 ],
       [0.97940595, 0.02059405],
       [0.98374823, 0.01625177],
       [0.01787942, 0.98212058],
       [0.20202018, 0.79797982],
       [0.68862599, 0.31137401],
       [0.91402474, 0.08597526],
       [0.38479267, 0.61520733],
       [0.85237289, 0.14762711],
       [0.42256522, 0.57743478],
       [0.31163272, 0.68836728],
       [0.06474447, 0.93525553],
       [0.02752294, 0.97247706],
       [0.60576646, 0.39423354],
       [0.05010261, 0.94989739],
       [0.70009779, 0.29990221],
       [0.83948428, 0.16051572],
       [0.42039511, 0.57960489],
       [0.13033024, 0.86966976],
       [0.8878046 , 0.1121954 ],
       [0.02065896, 0.97934104],
       [0.04146695, 0.95853305],
       [0.14847918, 0.85152082],
       [0.95332864, 0.04667136],
       [0.84857423, 0.15142577],
       [0.97042273, 0.02957727],
       [0.04703858, 0.95296142],
       [0.48405191, 0.51594809],
       [0.90514326, 0.09485674],
       [0.72673906, 0.27326094],
       [0.97856359, 0.02143641],
       [0.83719576, 0.16280424],
       [0.31114972, 0.68885028],
       [0.94943281, 0.05056719],
       [0.99215914, 0.00784086],
       [0.81979642, 0.18020358],
       [0.60126789, 0.39873211],
       [0.54404428, 0.45595572],
       [0.30960579, 0.69039421],
       [0.56944791, 0.43055209],
       [0.28677737, 0.71322263],
       [0.95020729, 0.04979271],
       [0.82913935, 0.17086065],
       [0.11970351, 0.88029649],
       [0.46406128, 0.53593872],
       [0.5250424 , 0.4749576 ],
       [0.97715568, 0.02284432],
       [0.76641324, 0.23358676],
       [0.77190098, 0.22809902],
       [0.97715568, 0.02284432],
       [0.31447969, 0.68552031],
       [0.39492077, 0.60507923],
       [0.09115654, 0.90884346],
       [0.24778585, 0.75221415],
       [0.95519663, 0.04480337],
       [0.10652574, 0.89347426],
       [0.43218623, 0.56781377],
       [0.95826473, 0.04173527],
       [0.42895767, 0.57104233],
       [0.26105153, 0.73894847],
       [0.95270269, 0.04729731],
       [0.06708172, 0.93291828],
       [0.52941142, 0.47058858],
       [0.0338889 , 0.9661111 ],
       [0.56961611, 0.43038389],
       [0.70107848, 0.29892152],
       [0.58135754, 0.41864246],
       [0.86958839, 0.13041161],
       [0.13998556, 0.86001444],
       [0.3077339 , 0.6922661 ],
       [0.46919724, 0.53080276],
       [0.16783349, 0.83216651],
       [0.88435202, 0.11564798],
       [0.8010845 , 0.1989155 ],
       [0.1697893 , 0.8302107 ],
       [0.92862162, 0.07137838],
       [0.42490653, 0.57509347],
       [0.94132851, 0.05867149],
       [0.73130797, 0.26869203],
       [0.08662641, 0.91337359],
       [0.05455963, 0.94544037],
       [0.73736643, 0.26263357],
       [0.35095276, 0.64904724],
       [0.0557684 , 0.9442316 ],
       [0.60662012, 0.39337988],
       [0.98401557, 0.01598443],
       [0.24985527, 0.75014473],
       [0.09798075, 0.90201925],
       [0.90828139, 0.09171861],
       [0.02997424, 0.97002576]])

In [114]:
pred_test =[1 if i>0.44 else 0 for i in prob_test[:,1]]

In [115]:
pred_test

[1,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1]

In [125]:
output=pd.read_csv(r"C:/Users/odhonde/OneDrive - DXC Production/Documents/Imeticas Learning/Hackthon_13_05_2023/employee_test.csv", delimiter = ',')
output.columns=['S.No', 'Timestamp', 'Age', 'Gender', 'Country', 'state',
       'self_employed', 'family_history', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments']
#output = pd.DataFrame()
output['treatment'] = pred_test
output['treatment'] = output['treatment'].map({1:"Yes",0:"No"})

In [126]:
output

,S.No,Timestamp,Age,Gender,Country,state,self_employed,family_history,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments,treatment
0,1,8/29/2014 11:32,39,Male,United Kingdom,NaN,Yes,Yes,Sometimes,5-Jan,Yes,Yes,No,Yes,Yes,Yes,Yes,Somewhat difficult,No,No,Yes,Yes,No,Maybe,Yes,Yes,These result may be a tad confusing so a summa...,Yes
1,2,8/29/2014 11:32,26,female,United States,WA,No,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,No,Yes,I should note one of the places my employer fa...,Yes
2,3,8/29/2014 11:33,23,Female,United States,IL,No,Yes,Sometimes,26-100,No,No,No,No,No,No,Don't know,Somewhat difficult,Yes,No,No,Some of them,No,Maybe,No,No,NaN,Yes
3,4,8/29/2014 11:34,35,Male,Switzerland,NaN,No,Yes,Often,More than 1000,No,Yes,Don't know,Not sure,No,No,Yes,Very easy,No,No,Some of them,Some of them,No,Maybe,No,No,NaN,No
4,5,8/29/2014 11:36,36,Male,United States,FL,No,No,Never,5-Jan,Yes,Yes,Don't know,Not sure,Don't know,Don't know,Don't know,Very easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,206,9/12/2015 11:17,26,male,United Kingdom,NaN,No,No,NaN,26-100,No,Yes,No,No,No,No,Don't know,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN,No
206,207,9/26/2015 1:07,32,Male,United States,IL,No,Yes,Often,26-100,Yes,Yes,Yes,Yes,No,No,Yes,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN,Yes
207,208,11/7/2015 12:36,34,male,United States,CA,No,Yes,Sometimes,More than 1000,No,Yes,Yes,Yes,No,No,Don't know,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN,Yes
208,209,11/30/2015 21:25,46,f,United States,NC,No,No,NaN,100-500,Yes,Yes,No,Yes,No,No,Don't know,Don't know,Yes,No,No,No,No,No,No,No,NaN,No
209,210,2/1/2016 23:04,25,Male,United States,IL,No,Yes,Sometimes,26-100,No,No,Yes,Yes,No,No,Yes,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN,Yes

In [128]:
output.to_excel("OutPutLR.xlsx",header=True,index=False)